<%
const tagsList = list_tags({ show_count: false });
const seriesList = Array.from(new Set(site.posts.filter(item=>item.series).map(item=>item.series))).map(seriesName=>({
  name: seriesName,
  count: site.posts.filter(post=>post.series === seriesName).length
}));
const categoriesList = Object.entries(site.posts.reduce((acc, post) => {
  (post?.categories || []).forEach(cat => acc[cat.name] = (acc[cat.name] || 0) + 1);
  return acc;
}, {})).map(([name, count]) => ({ name, count }));
const archivesList = Object.entries(site.posts.filter(post=>!post?.hide?.archive).reduce((acc, post) => {
  const year = post.date.year();
  acc[year] = (acc[year] || 0) + 1;
  return acc;
}, {})).map(([name, count]) => ({ year: name, name: name.startsWith('1970') ? '__' : name, count })).reverse();
%>

<% if (is_year() === false) { %>
<div id="archive">
  <div class="two-columns">
    <% if(categoriesList.length) {%>
      <aside>
      <h2 id="categories"><%=__('common.categories')%></h2>
      <ul class="archive-list">
        <% categoriesList.forEach(category => { %>
        <li class="archive-list-item">
          <a class="archive-list-link" data-firstletter="<%=category.name.charAt(0)%>" href="<%=url_for(`/categories/${category.name}/`)%>">
            <%=category.name%>
            <span class="archive-list-count"><%=category.count%></span>
          </a>
        </li>
        <% }) %>
      </ul>
    </aside>
    <% } %>
    <aside>
      <h2 id="archives"><%=__('common.posts')%></h2>
      <ul class="archive-list">
        <% archivesList.forEach(archive => { %>
        <li class="archive-list-item">
          <a class="archive-list-link" data-firstletter="<%=archive.name.charAt(archive.name.length-1)%>" href="<%=url_for(`/archives/${archive.year}/`)%>">
            <%=archive.name%>
            <span class="archive-list-count"><%=archive.count%></span>
          </a>
        </li>
        <% }) %>
      </ul>
    </aside>
  </div>

 

  <% if(seriesList.length) { %>
  <br>
  <aside>
    <h2 id="series"><%=__('common.series')%></h2>
    <ul class="archive-list">
      <% seriesList.forEach(series => { %>
      <li class="archive-list-item">
        <a class="archive-list-link" data-firstletter="<%=series.name.charAt(0)%>" href="<%=url_for(`/series/${series.name}/`)%>">
          <%=series.name%>
          <span class="archive-list-count"><%=series.count%></span>
        </a>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>

  <% if(tagsList.length) { %>
  <br>
  <aside>
    <h2 id="tags"><%=__('common.tags')%></h2>
    <div class="tag-list-wrap">
      <% if (tagsList !== "") { %>
      <%-tagsList%>
      <% } %>
    </div>
  </aside>
  <% } %>

</div>
<% } else { %>
<h1 id="archieve-h1"><%=page.year.toString().startsWith('1970') ? '__' : (page.month ? page.month + '/'  : '') + page.year%></h1>
<div class="posts-info-layout">
  <div class="posts-wrap">
    <%-partial('partials/recent-posts', { showHidden: true })%>
    <%-partial('partials/paginator')%>
  </div>
  <div class="info-wrap"><%-partial('partials/site-info')%></div>
</div>
<% } %>