<% 
const { hasTranslatation, targetLanguagePath, targetLanguage } = getTranslationPage();

const logoConfig = theme?.logo || {};
const { src: logoSrc, text: logoText, width: logoWidth, height: logoHeight } = logoConfig;
const rssPath = theme?.feed === false ? '' : theme?.feed?.path ?? '/feed.xml';
%>

<% if (is_post()) { %>
<div class="nav-header-pleaceholder"></div>
<% } %>
<div class="nav-header<%=is_post() ? ' is-post': ''%>">
  <div class="header-inner">
    <a class="title" href="<%=url_for('/')%>" title="index" style="<%=[logoSrc ? `background-image: url(${logoSrc})`: '', logoWidth && logoHeight ? `aspect-ratio: ${logoWidth}/${logoHeight}` : ''].filter(v => v).join(';')%>"><%=logoText||''%></a>
    <div class="right">
      <div class="navItems">
        <% (theme?.navItems || []).forEach(({ name, path }) => { %>
        <a class="navItem<%=`/${page.path}`.startsWith(path) ? ' active' : ''%>" href="<%=url_for(path)%>"><%=name%></a>
        <% }); %>
      </div>
      <div class="buttonSet">
        <% if (page.hdrSwitch) { %>
        <span class="button hdr-switch" title="Switch HDR/SDR content">
        </span>
        <% } %>
        <% if (hasTranslatation) { %>
        <a class="button language <%=targetLanguage%>" href="<%=targetLanguagePath%>" target="_self" title="switch language"></a>
        <% } %>
        <% if (theme?.info?.github) { %>
        <a class="button github" href="<%=theme?.info?.github || ''%>" target="_blank" title="github"></a>
        <% } %>
        <% if (rssPath) { %>
          <a class="button rss" href="<%=url_for(rssPath)%>" target="_blank" title="rss"></a>
        <% } %>
        <% if (hasTocs) { %>
        <div id="toc-toggle" class="button toc"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>